<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="./images/ntime.jpg" />

	<title> On time </title>
	<!-- Font Awesome Stylesheet -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
		<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	
	<!-- /Header -->
	<%- include('./partials/headernologueado') %>
	<!-- product detail -->
	<div class="container products-wrapper"> 	<!--Despues tendriamos que ver como hacer para que cada producto te lleve a su detalle -->
		<div class="d-flex align-items-center">
			<h2 class="products-title"><%= productos[1].nombre %></h2> 
			<p class="product-detail-description">
				<a href="/product/add">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/rolex-2.jpg" alt="Imagen del producto" class="product-detail-img">
					<p class="product-detail-description"><%= productos[1].descripcion %></p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for (let i = 0; i < comentarios.length; i++) {%>
							<article>
								<img src="/images/users/imagen.usuario.jpg" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="/profile"><%=comentarios[i].nombre_usuario_comentario %></a></strong>
									<%=comentarios[i].texto_comentario %>
									</p>
								</div>	
							</article>
							
						<% } %>
						
						
					</section>
					<form class="form" action="/product" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Pagá con tarjeta o en efectivo</h2>
						<p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
							siempre es seguro!</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Envío gratis desde $ 1.999</h2>
						<p>Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un
							beneficio de Mercado Puntos.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, de principio a fin</h2>
						<p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás
							siempre protegido.</p>
					</article>
				</div>
			</div>
		</div>
	</footer>
	<!-- /footer -->

</body>	
</html>